* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F1F1;
    font-family: 'Montserrat', sans-serif;

}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-img {
    width: 70px;
    height: 70px;
}

button {
    width: 200px;
    height: 30px;
    background-color: #19a7ce;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* Navigaton Bar */
.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #19a7ce;
    padding: 20px 0;
    border-style: solid none;
    color: black;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* information */
.inf_body {
    margin: 0 150px;
}

h1 {
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #146c94;
}

.inf_main {
    text-align: center;
}

.whale-img {
    width: 700px;
    height: auto;
    margin: 30px;
    border-radius: 5px;
}

.inf_whale {
    border-style: dotted;
    padding: 10px;
    margin: 15px 100px;
}

p {
    margin: 5px 0;
}

.whale-tail {
    display: block;
    margin: auto;
}
